{% macro displayNews(news_list) %}

    {% for news in news_list %}
    <div class="card">
        <div class="row">
            <a href="{{news.url}}"></a>
                <div class="col-md-6">              
                <img src="{{news.urlToImage}}" alt="">
                </div>
                <div class="col-md-6">
                    <h3>{{news.title}}</h3>
                    <small><i>Published: {{ news.publishedAt}}</i> </small><br>
                    <blockquote>{{news.description}}</blockquote>
                    <small>Source: {{news.source}}  By {{ news.author}}</small>
                </div></a>
        </div>
    </div>
    {% endfor%}
{% endmacro%}
