{% macro displayNews(news_list) %}

    {% for news in news_list %}
    <div class="card">
        <div class="row">
                <div class="col-md-6">              
                <img src="{{news.urlToImage}}" alt="">
                </div>
                <div class="col-md-6 p-2">
                    <a href="{{news.url}}"><h3>{{news.title}}</h3></a>
                    <small><i>Published: {{ news.publishedAt}}</i> </small><br>
                    <blockquote>{{news.description}}</blockquote>
                    <small>Source: {{news.source['name']}}  By {{ news.author}}</small>
                </div>
        </div>
    </div>
    {% endfor%}
{% endmacro%}
