
  <div class="list-group sticky-top">
    <a href="{{  url_for('views.channel_News',sourceChannel = 'bbc-news') }}" class="list-group-item list-group-item-action active" aria-current="true">
      BBC NEWS
    </a>
    <a href="{{  url_for('views.channel_News',sourceChannel = 'nbc-news') }}" class="list-group-item list-group-item-action">NBC NEWS</a>
    <a href="{{  url_for('views.channel_News',sourceChannel = 'cnbc-news') }}" class="list-group-item list-group-item-action">CNBC NEWS</a>
    <a href="{{  url_for('views.channel_News',sourceChannel = 'bbc-news') }}" class="list-group-item list-group-item-action">AL JAZEERA</a>
    <a href="{{  url_for('views.channel_News',sourceChannel = 'sky-news') }}" class="list-group-item list-group-item-action">SKY NEWS</a>
  </div>
